<div class="jumbotron">
<h1>Nothin much to introdue myself</h1>
<p> short tempered and a greedy person, starving for money if you want to know more about me just hang on and Shower some money over here it's not a free service, everything is business !!!!</p>
</div>
<%= link_to 'Home', root_path %>