<div class="jumbotron">
<h1>Welcome to my home page</h1>
<p>Are you really excited to know more about me???, if so go ahead and stab on about me button as hard as you can!!!!</p>
</div>
<%= link_to 'About', about_path %>