
<div class="jumbotron"> 
<h1 style= "text-align: center;">Hello!!!!
</div>	
		
<div class="video">
<br>
<h2>Pls Don't watch!!!</h2>
<%= video_tag "video3.mp4", :size => "500x450", :controls => true %>

</div>
