$navbar-default-bg: black;
@import "bootstrap-sprockets";
@import "bootstrap";
.jumbotron{
background-image: asset-url('image.jpg');
}
.jumbotron h1 , p{
text-align: center;
backgroun-size: cover;

}
.video
{
 text-align: center;
}
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

  	 